@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: @bg-color;    
    margin: 0;
}

* {
    box-sizing: border-box;
}

button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
}

.primary-button {
    background: @pink;
    border: 0;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 35px;
    margin-top: 20px;
}

.secondary-button {
    background: white;
    border: 1px solid black;
    border-radius: 8px;
    color: balck;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 35px;
}

input[type="text"] {
    height: 47px;
    border-radius: 8px;
    border: 1px solid @dark-grey;
    color: @dark-grey;
    padding: 0 15px;

    &.error {
        border: 1px solid @error-color;

        &::placeholder {
            color: @error-color;
        }
    }
}

@media @smartphones {

    body {
        background: white;
    }    
}